@media(max-width:1000px){
    .site{
        margin: 0;
    }
    .site-left{
        position: static;
        display: block;
        width: 100%;
        height: 360px;
        text-align: center;
    }
    .menu-item{
        margin: 0;
    }
    .site-right{
        width: 100%;
        margin: 0;
    }
    .fst-block-left{
        width: 95%;
        display: block;
    }
    .fst-block-right{
        display: block;
        width: 92%;
        text-align: justify;
    }
    .gallery-img, .gallery-img-nd, .gallery-img-th{
        width: 95%;
        display: block;
    }

}